@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

input {
    font-size: 16px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 35%;
}

button {
    font-size: 16px;
    background-color: #789F6F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #688F5F;
}

#result {
    font-size: 20px;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

#history {
    margin-top: 20px;
}

.formula {
    font-size: 16px;
    margin-right: 20px;
}

.header-cell {
    min-width: 200px;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000; /* Ajout d'un contour plus épais */
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
}

th.header-cell {
    min-width: 200px;
    white-space: nowrap;
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr.octave-row td {
    border-top: 2px solid #000;
}

tr.thirds-row td {
    border-bottom: 2px solid #000;
}




#conversionTable input {
    width: 40px;  /* Largeur fixe */
    height: 30px;
    margin: auto;  /* Pour centrer l'élément si la cellule du tableau est plus grande */
    padding: 1px;
    text-align: center;
    
}

#conversionTable td {
    text-align: center;  /* Centre le contenu de chaque cellule */
   
}

#resultsTable td, #resultsTable th {
    border: 2px solid black; /* Ajustez l'épaisseur et la couleur selon vos préférences */
}

.resultsTable-td {
    border: 2px solid #ccc;
}
